@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto+Slab:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto slab', serif;
    font: 400 14px ;
    background-color: #F6F1F1;
}


input, button, textarea {
    font-family: 'Roboto slab', serif;
    font: 400 14px ;
}

button{
    cursor: pointer;
}